/* section5 시작---------------------- */
.sect5{
    width: 100%; height: 100vh;
    position: relative;
}
.sect5 h2{
    padding: 70px 0 60px;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
}
.sect5 .sect5_tab{
    width: 500px;
    margin: auto;
    padding: 0 0 10px;
    display: flex;
    justify-content: space-between;
}
.sect5 ul.sect5_tab li{
    width: 33.333%;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.sect5 ul.sect5_tab li span{
    width: 40px; height: 40px;
    display: block;
    background-size: 40px;
    margin: auto;
}
.sect5 ul.sect5_tab li:nth-child(1) span{
    background-image: url(../img/sect5_icon1.png);
}
.sect5 ul.sect5_tab li:nth-child(2) span{
    background-image: url(../img/sect5_icon2.png);
}
.sect5 ul.sect5_tab li:nth-child(3) span{
    background-image: url(../img/sect5_icon3.png);
}
.sect5 ul.sect5_tab li:nth-child(1) span.on{
    background-image: url(../img/sect5_icon1_on.png);
}
.sect5 ul.sect5_tab li:nth-child(2) span.on{
    background-image: url(../img/sect5_icon2_on.png);
}
.sect5 ul.sect5_tab li:nth-child(3) span.on{
    background-image: url(../img/sect5_icon3_on.png);
}
.sect5 .sect5_tab li:nth-child(2n)::before{
    content: "";
    width: 1px; height: 40px;
    background: #cccccc;
    position: absolute;
    top: 5px; left: 0;
}
.sect5 .sect5_tab li:nth-child(2n)::after{
    content: "";
    width: 1px; height: 40px;
    background: #cccccc;
    position: absolute;
    top: 5px; right: 0;
}
.sect5 .sect5_tab li p{
    font-size: 17px;
    padding: 10px;
}
/* section5 slide 시작---------- */
.sect5_slide-wrap{
    width: 100%; height: 60vh;
}
.sect5_swiper-container{
    max-width: 1240px;
    position: absolute;
    left: 50%; top: 32%;
    transform: translateX(-50%);
}
.sect5_swiper-slide{
    background: #fff;
}
.sect5 .swiper-button-next{
    width: 39px; height: 73px;
    top: 60%; right: 12%;
    background: url(../img/slide-next.png);
}
.sect5 .swiper-button-next::after{
    content:''
}
.sect5 .swiper-button-prev{
    width: 39px; height: 73px;
    top: 60%; left: 12%;
    background: url(../img/slide-prev.png);
}
.sect5 .swiper-button-prev::after{
    content:''
}
.sect5 .fl{
    width: 50%;
}
.sect5 .fl img{
    width: 100%;
}
.sect5 .fr{
    width: 50%;
    padding: 0 30px;
}
.sect5 .fr h3{
    font-size: 30px;
}
.sect5 .fr h4{
    font-size: 18px;
    padding: 10px 0 25px;
    font-family: square;
}
.sect5 .fr li{
    font-size: 16px;
    padding: 5px 0;
}
.sect5 .fr p{
    font-size: 16px;
    line-height: 40px;
}
/* section5 slide 끝 */
/* section6 시작-------------------------- */
.sect6{
    width: 100%; height: 100vh;
}
.sect6 .wrap{
    max-width: 1240px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.sect6 h2{
    padding: 70px 0;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    letter-spacing: -1px;
}
.sect6 .comm_content{
    width: 300px;
    flex-wrap: wrap;
}
.sect6 .comm_img{
    width: 300px; height: 300px;
}
.sect6 .comm_img img{
    width: 100%;
}
.sect6 .comm_text{
    width: 300px;
}
.sect6 .comm_text b{
    display: block;
    font-size: 18px;
    padding: 15px 0;
}
.sect6 .comm_text p{
    font-size: 15px;
    line-height: 1.6;
	max-height: 3.2em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.sect6 .more_btn{
    display: block;
    width: 190px; height: 69px;
    border: 1px solid #d7d7d7;
    margin: auto;
    text-align: center;
    margin-top: 80px;
    position: relative;
}
.sect6 .more_btn span{
    display: block;
    width: 0; height: 69px;
    background-color: #B2D2C3;
    position: absolute;
    top: 0; left: 0;
}
.sect6 .more_btn b{
    color: #365445;
    position: absolute;
    font-size: 18px;
    font-family: square;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);

}
/* section6 끝-------------------------- */
