/* section4 시작---------------------- */
.sect4{
  width: 100%; height: 300vh;
  position: relative;
  background-size: cover;
  padding-top: 150px;
}
.sect4 .title{
  height: 200px;
  font-family: square_light;
}
.sect4 .wave_text_wrap{
  position: absolute;
  top: 245px;
  width: 100%; overflow-x: hidden;
}
.sect4 .wave_text{
  width: 7394px;
}
.sect4 .wave_text span{
  display: inline-block;
  font-size: 125px;
  color: rgba(178, 210, 195, .5);
  margin-right: 30px;
}
.sect4 .contents{
  max-width: 1240px;
  margin: 0 auto;
}
.sect4 .main.fl{
  width: 50%; height: 650px;
  margin-right: 20px;
  position: relative;
  border: 3px solid rgba(178, 210, 195, .3);
  background: url(../img/together_read_2.png) no-repeat bottom right #fff;
  background-size: 100%;
}
.sect4 .main .content{
  width: 100%; height: 100%;
  position: absolute;
  padding: 40px;
  display: none;
}
.sect4 .main .content.show{
  display: block;
}
.sect4 .main .content h2{
  font-size: 30px;
}
.sect4 .main .content em{
  display: block;
  padding-bottom: 20px;
  font-size: 20px;
}
.sect4 .main .content p{
  font-size: 17px;
  line-height: 30px;
}
.sect4 .preview{
  width: calc(50% - 20px); height: 650px;
}
.sect4 .preview a{
  display: block; height: 100%;
  border: 3px solid rgba(178, 210, 195, .3);
  font-size: 24px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/preview_bg.png) no-repeat bottom right #fff;
  background-size: 30px;
}
.sect4 .preview a.on{
  background: url(../img/preview_bg_on.png) no-repeat bottom right #fff;
  background-size: 30px;
}
.sect4 .preview .row1{
  width: 100%; height: calc(50% - 10px);
  margin-bottom: 20px;
}
.sect4 .row1 a{
  width: calc(50% - 10px);
}
.sect4 .preview .row2{
  width: 100%; height: calc(50% - 10px);
}
.sect4 .row2 a{
  width: calc(33.333% - 14px);
  margin-right: 20px;
}
.sect4 .row2 a:last-child{
  width: calc(33.333% - 12px);
  margin: 0;
}
.write{
  max-width: 1240px; height: 1200px;
  margin: 120px auto 0;
  border: 1px solid #000;
}
.writePhoto{
  width: 50%;
}
.writePhoto img{
  width: 100%;
}
.writeInfo{
  width: 50%; height: 500px;
}
.writeInfo h3{
  font-size: 28px;
}
.writeInfo em{
  display: block;
  font-size: 20px;
  padding-bottom: 15px;
}
.writeInfo p{
  font-size: 18px;
}
.writeInfo p span{
  display: block;
  font-size: 16px;
  padding-top: 10px;
}
/* section5 시작-------------------------- */
.sect5 {
  width: 100%;
  min-height: 100vh;
  background: url(../img/sect5_bg.png) no-repeat;
  position: relative;
}
.sect5 .title {
  max-width: 1240px;
  padding: 70px 0;
  text-align: left;
  opacity: 0;
  margin: auto;
}
.sect5 .wrap {
  max-width: 1240px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.sect5 .comm_content {
  max-width: 300px;
  margin-top: 100px; opacity: 0;
  cursor: pointer;
}
.sect5 .comm_img {
  max-width: 300px;
}
.sect5 .comm_img img {
  width: 100%;
}
.sect5 .comm_text {
  max-width: 300px;
}
.sect5 .comm_text b {
  display: block;
  font-size: 18px;
  padding: 15px 0;
}
.sect5 .comm_text p {
  font-size: 15px;
  line-height: 1.6;
  max-height: 3.2em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.sect5 .more_btn {
  display: block;
  width: 180px;
  padding: 15px 0;
  border: 1px solid #d7d7d7;
  margin: auto;
  text-align: center;
  margin-top: 80px;
  font-size: 18px;
  font-family: square_black;
  color: #999;
  transition: .3s;
  opacity: 0;
}
.sect5 .more_btn:hover{
  color: #365445;
}
/* section5 끝-------------------------- */
/* 모바일 */
@media screen and (max-width: 768px) {
  .sect4 .title{
    height: 160px;
    font-size: 30px;
  }
  .sect4 .wave_text_wrap{
    top: 220px;
  }
  .sect4 .wave_text{
    width: 4800px;
  }
  .sect4 .wave_text span{
    font-size: 80px;
  }
  .sect4 .main.fl{
    width: 95%; height: 590px;
    float: none;
    margin: auto;
    transition: .5s;
  }
  .sect4 .main.small{
    height: 450px;
  }
  .main .content{
    width: 100%;
  }
  .sect4 .main .content h2{
    font-size: 24px;
  }
  .sect4 .main .content em{
    font-size: 17px;
  }
  .sect4 .main .content p{
    font-size: 15px;
    line-height: 28px;
  }
  .sect4 .preview{
    width: 95%; height: 350px;
    margin: auto;
    float: none;
    margin-top: 15px;
  }
  .sect4 .preview a{
    font-size: 18px;
    background: url(../img/preview_bg.png) no-repeat bottom right;
    background-size: 23px;
  }
  .sect4 .preview a.on{
    background: url(../img/preview_bg_on.png) no-repeat bottom right;
    background-size: 23px;
  }
  .sect4 .preview .row1{
    width: 100%;
    margin-bottom: 15px;
  }
  .sect4 .row1 a{
    width: calc(50% - 7px);
  }
  .sect4 .row2 a{
    width: calc(33.333% - 10px);
    margin-right: 15px;
  }
  .sect4 .row2 a:last-child{
    width: calc(33.333% - 10px);
    margin: 0;
  }




  /* ------------------------------- */
  .sect5{
    padding: 0 15px;
    min-height: 110vh;
  }
  .sect5 .title{
    font-size: 30px;
    padding: 35px 25px;
    text-align: center;
  }
  .sect5 .title_bg{
    display: none;
  }
  .sect5 .wrap{
    flex-direction: column;
  }
  .sect5 .comm_content{
    width: 70%;
  }
  .sect5 .comm_text b {
    display: block;
    font-size: 14px;
    padding: 10px 0 5px;
  }
  .sect5 .comm_text p {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .sect5 .more_btn {
    width: 120px;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
    margin-bottom: 120px;
  }
}
footer{
  position: relative;
}
/* 태블릿 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sect5{
    padding: 0 15px;
    min-height: 80vh;
    background: none;
  }
  .sect5 .title{
    font-size: 30px;
    padding: 35px 25px;
  }
  .sect5 .title_bg{
    position: absolute;
    width: 25px; height: 25px;
    top: 20px; left: 15px;
    background: #B2D2C3;
    opacity: 0;
  }
  .sect5 .comm_content{
    width: 24%;
  }
  .sect5 .comm_text b {
    display: block;
    font-size: 14px;
    padding: 10px 0 5px;
  }
  .sect5 .comm_text p {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .sect5 .more_btn {
    width: 120px;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
  }
}