/* section4 시작---------------------- */
.sect4{
  width: 100%; height: 300vh;
  position: relative;
  background-size: cover;
  padding-top: 150px;
}
.sect4 .title{
  height: 200px;
  font-family: square_light;
}
.sect4 .wave_text_wrap{
  position: absolute;
  top: 245px;
  width: 100%; overflow-x: hidden;
}
.sect4 .wave_text{
  width: 7394px;
}
.sect4 .wave_text span{
  display: inline-block;
  font-size: 125px;
  color: rgba(178, 210, 195, .5);
  margin-right: 30px;
}
.sect4 .contents{
  width: 85%;
  overflow: hidden;
  margin: 0 auto;
}
.sect4 .main.fl{
  width: calc(50% - 20px); height: 650px;
  margin-right: 20px;
  position: relative;
  border: 3px solid rgba(178, 210, 195, .3);
  background: url(../img/together_read_2.png) no-repeat bottom right #fff;
  background-size: 100%;
}
.sect4 .main .content{
  width: 100%; height: 100%;
  position: absolute;
  padding: 40px;
  display: none;
}
.sect4 .main .content.show{
  display: block;
}
.sect4 .main .content h2{
  font-size: 30px;
}
.sect4 .main .content em{
  display: block;
  padding-bottom: 20px;
  font-size: 20px;
}
.sect4 .main .content p{
  font-size: 17px;
  line-height: 30px;
}
.sect4 .preview{
  width: 50%; height: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.sect4 .preview div{
  width: 394px; height: 315px;
  cursor: pointer;
  /* background: url(../img/con1.jpg) no-repeat bottom left orange; */
  background: url(../img/contBg.png) no-repeat bottom right #fff;
  border: 3px solid rgba(178, 210, 195, .3);
}
.sect4 .preview div.on{
  background: url(../img/contBg_on.png) no-repeat bottom right #fff;
}
.sect4 .preview div h3{
  font-size: 24px;
  text-align: center;
  line-height: 300px;
}
.sect4 .preview div.col2{
  width: 256px;
}
.write{
  max-width: 1240px;
  margin: 100px auto 0;
  position: relative;
}
.writephoto{
  width: 50%; height: 400px;
  background: url(../img/sect4_write.jpg);
  position: absolute;
}
.writeInfo{
  width: 60%;
  padding: 50px;
  border: 3px solid rgba(178, 210, 195, .3);
  background: #fff;
  position: absolute;
  right: 0;
}
.writeInfo h3{
  font-size: 28px;
}
.writeInfo em{
  display: block;
  font-size: 20px;
  padding-bottom: 15px;
}
.writeInfo p{
  font-size: 18px;
}
.writeInfo p span{
  display: block;
  font-size: 16px;
  padding-top: 10px;
}
/* section5 시작-------------------------- */
.sect5 {
  width: 100%;
  min-height: 100vh;
  background: url(../img/sect5_bg.png) no-repeat;
  position: relative;
}
.sect5 .title {
  max-width: 1240px;
  padding: 70px 0;
  text-align: left;
  opacity: 0;
  margin: auto;
}
.sect5 .wrap {
  max-width: 1240px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.sect5 .comm_content {
  max-width: 300px;
  margin-top: 100px; opacity: 0;
  cursor: pointer;
}
.sect5 .comm_img {
  max-width: 300px;
}
.sect5 .comm_img img {
  width: 100%;
}
.sect5 .comm_text {
  max-width: 300px;
}
.sect5 .comm_text b {
  display: block;
  font-size: 18px;
  padding: 15px 0;
}
.sect5 .comm_text p {
  font-size: 15px;
  line-height: 1.6;
  max-height: 3.2em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.sect5 .more_btn {
  display: block;
  width: 180px;
  padding: 15px 0;
  border: 1px solid #d7d7d7;
  margin: auto;
  text-align: center;
  margin-top: 80px;
  font-size: 18px;
  font-family: square_black;
  color: #999;
  transition: .3s;
  opacity: 0;
}
.sect5 .more_btn:hover{
  color: #365445;
}
/* section5 끝-------------------------- */
/* 모바일 */
@media screen and (max-width: 768px) {
  .sect5{
    padding: 0 15px;
    min-height: 110vh;
  }
  .sect5 .title{
    font-size: 30px;
    padding: 35px 25px;
    text-align: center;
  }
  .sect5 .title_bg{
    display: none;
  }
  .sect5 .wrap{
    flex-direction: column;
  }
  .sect5 .comm_content{
    width: 70%;
  }
  .sect5 .comm_text b {
    display: block;
    font-size: 14px;
    padding: 10px 0 5px;
  }
  .sect5 .comm_text p {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .sect5 .more_btn {
    width: 120px;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
    margin-bottom: 120px;
  }
}
footer{
  position: relative;
}
/* 태블릿 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sect5{
    padding: 0 15px;
    min-height: 80vh;
    background: none;
  }
  .sect5 .title{
    font-size: 30px;
    padding: 35px 25px;
  }
  .sect5 .title_bg{
    position: absolute;
    width: 25px; height: 25px;
    top: 20px; left: 15px;
    background: #B2D2C3;
    opacity: 0;
  }
  .sect5 .comm_content{
    width: 24%;
  }
  .sect5 .comm_text b {
    display: block;
    font-size: 14px;
    padding: 10px 0 5px;
  }
  .sect5 .comm_text p {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .sect5 .more_btn {
    width: 120px;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
  }
}