/*sect2*/
.sect2 {
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  /* background-image: url(/img/bgbg.jpg);
  background-size: cover; */
}
/* sect2 상단 main txt */
.sect2 h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 150px;
}
/*sect2-pop*/
.sect2-pop {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 25px;
  color: #355444;
  display: none;
  margin-top: -32px;
}
/* sect2 swiper */
.sect2-slideWrap {
  position: relative;
  left: 50px;
  width: 70%;
  display: inline-block;
}
.sect2-swiper-container {
  position: static;
  width: 85%;
  margin: auto;
}
.sect2-swiper-container .swiper-wrapper {
  height: 382px;
}
.sect2-swiper-container .swiper-wrapper .swiper-slide {
  padding: 10px;
  padding-top: 32px;
  z-index: 999;
}
.sect2-swiper-container .swiper-button-next,
.sect2-swiper-container .swiper-button-prev {
  top: 38% !important;
}
.sect2-swiper-container .swiper-button-next {
  right: 0 !important;
}
.sect2-swiper-container .swiper-button-prev {
  left: 0 !important;
}
:root {
  --swiper-theme-color: #355444;
}
.sect2-swiper-container .swiper-pagination {
  top: 80% !important;
}
/* swiper book img */
.bookIMG {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}
.bookIMG img {
  width: 100%;
  height: 100%;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
}
.bookIMG img:hover {
  box-sizing: unset;
  border: 10px solid #b2d2c3;
  box-shadow: unset;
}
.sect2-swiper-container .swiper-wrapper .swiper-slide:hover .sect2-pop {
  display: block;
}
/* book txt */
.bookTXT p {
  text-align: center;
}
.bookTXT p:nth-child(1) {
  font-size: 16px;
}
.bookTXT p:nth-child(2) {
  font-size: 13px;
}
/*book slide txt box*/
.sect2-slide-txtBOX {
  width: 20%;
  height: 50%;
  display: inline-block;
  position: absolute;
  right: 5%;
}
.sect2-slide-txtBOX-inner {
  width: 90%;
  height: 75%;
  margin: auto;
  text-align: center;
}
.sect2-slide-txtBOX-inner ul {
  width: 100%;
  height: 80%;
  position: relative;
  border: 5px solid #355444;
  background-color: white;
}
.sect2-slide-txtBOX-inner ul li {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 20px;
  position: absolute;
  opacity: 0;
}
.sect2-slide-txtBOX-inner ul li h5 {
  font-size: 1vw;
}
.sect2-slide-txtBOX-inner ul li h6 {
  font-size: 1vw;
}
.sect2-slide-txtBOX-inner ul li p {
  font-size: 1vw;
}
.sect2-slide-txtBOX-inner ul li.on {
  opacity: 1;
}
/*sect3*/
.sect3 {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}
.sect3 h2 {
  text-align: center;
}
/*about*/
.sect3-about {
  display: flex;
  width: 80%;
  height: 60%;
  margin: auto;
}
.sect3-about > div {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect3-about .about-logo {
  justify-content: center;
  align-items: flex-end;
}
.sect3-about .about-logo .logoWrap {
  width: 50%;
}
.sect3-about .about-logo img {
  width: 100%;
  height: 100%;
}
/*about-txt*/
.sect3 .about-txt {
  margin-top: 200px;
  height: 60%;
  flex-direction: column;
  justify-content: space-evenly;
}
.sect3 .about-txt h2,
.sect3-txt h3 {
  font-size: 25px;
}
.sect3 .about-txt h3 {
  font-size: 35px;
}
.sect3 .about-txt p {
  margin: auto;
  width: 90%;
  font-size: 16px;
  line-height: 35px;
}
/*창비 역사*/
.sect3-txt {
  margin-top: -100px;
  margin-left: 50px;
}
.sect3-txt > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.sect3-txt .main-year {
  font-size: 13px;
}
.sect3-txt .main-year p {
  margin: 0 5px;
}
.sect3-txt .main-year span {
  width: 80px;
  height: 1px;
  background-color: lightgray;
}
/*연도 버튼*/
.sect3-txt .year-btn {
  width: 100%;
}
.sect3-txt .year-btn button.on {
  background-color: #b2d2c3;
}
.sect3-txt .year-btn button {
  width: 50%;
  height: 35px;
  color: #355444;
  background-color: white;
  border: 1px solid #cce4d7;
  margin: 0 2px;
}
/* sect3 슬라이드 부분 */
article.sect3-swiperSlide {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.sect3-swiper-container {
  width: 100%;
  height: 200px;
}
.sect3-swiper-container .swiper-wrapper .swiper-slide {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sect3-slide-txtBox {
  width: 80%;
  height: 65%;
  background-image: url(../img/history-box.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.sect3-slide-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #cce4d7;
}
.sect3-swiper-container .swiper-wrapper .sect3-name {
  width: 150px !important;
}
.sect3-swiper-container .swiper-wrapper .sect3-name span {
  width: 80px;
  height: 80px;
  margin: auto;
  display: block;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 80px;
  background-color: #cce4d7;
}
/*sect3 모바일 버전*/

/**********************media************************/

/*max*/
@media screen and (max-width: 500px){
  .sect2-slide-txtBOX {
  margin-top: -50px;
  }
}
@media screen and (max-width: 768px) {
  .sect2 h2 {
    margin-bottom: 50px;
  }
  .sect2-slideWrap {
    width: 80%;
    display: block;
    margin: auto;
    left: 0;
  }
  .sect2-swiper-container {
    width: 80%;
  }
  .sect2-slide-txtBOX {
    width: 60%;
    height: 35%;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  .sect2-slide-txtBOX-inner ul li h5 {
    font-size: 16px;
  }
  .sect2-slide-txtBOX-inner ul li p {
    font-size: 12px;
  }
  /*sect3*/
  .sect3 {
    padding-top: 50px;
    height: 150vh;
  }
  .sect3-about {
    flex-direction: column;
    width: 100%;
    height: 50%;
  }
  .sect3-about > div {
    width: 100%;
    height: 50%;
  }
  .sect3 .about-txt {
    margin-top: 10px;
  }
  .sect3-txt {
    margin: auto;
    margin-left: 50%;
    transform: translate(-50%);
  }
  article.sect3-swiperSlide {
    width: 80%;
    height: 31.5%;
    margin: auto;
  }
  .sect3-swiper-container {
    width: 100%;
    height: 100%;
  }
  .sect3-swiper-container .swiper-wrapper .swiper-slide {
    width: 80%;
    margin: auto;
    height: 98%;
    flex-direction: unset;
    justify-content: space-between;
  }
  .sect3-slide-txtBox {
    width: 100%;
    height: 100%;
    background-image: unset;
    font-size: 14px;
    /* justify-content: flex-start; */
  }
  .sect3-swiper-container .swiper-wrapper .sect3-name {
    margin: auto;
  }
  .sect3-swiper-container .swiper-wrapper .sect3-name span {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .sect3-slide-year {
    margin-right: 10px;
  }
}
