@import "../reset.css";
* {
  box-sizing: border-box;
}
html,
body {
  position: relative;
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
}

.fl{ float: left;}
.fr{ float: right;}
/*각 css 파일 옮김 */


