@import "../reset.css";
* {
  box-sizing: border-box;
}
html,
body {
  position: relative;
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
}
@font-face {
  font-family: square;
  src: url(/css/NanumSquare.ttf);
}
@font-face {
  font-family: square_black;
  src: url(/css/NanumSquare_0.ttf);
}
@font-face {
  font-family: square_regular;
  src: url(/css/NanumSquare_acR.ttf);
}
@font-face {
  font-family: square_light;
  src: url(/css/NanumSquare_acL.ttf);
}
h1,h2,h3,h4,h5,h6,b{
  font-family: square_black;
}
p,li,a,span{
  font-family: square_regular;
}
.fl{ float: left;}
.fr{ float: right;}
/*각 css 파일 옮김 */


