@import "../reset.css";
* {
  box-sizing: border-box;
}
html,
body {
  position: relative;
  height: 100%;
  color: #333;
  background-image: url(../img/bg-icon01.png), url(../img/bg-icon02.png);
  background-position: bottom left, top right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 500px;
}
@font-face {
  /*약간 굵음*/
  font-family: square;
  src: url(NanumSquare.ttf);
}
@font-face {
  /*많이 굵음*/
  font-family: square_black;
  src: url(NanumSquare_0.ttf);
}
@font-face {
  /*보통*/
  font-family: square_regular;
  src: url(NanumSquare_acR.ttf);
}
@font-face {
  /*많이 가늚*/
  font-family: square_light;
  src: url(NanumSquare_acL.ttf);
}
a:link{
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6,b{
  font-family: square_light;
}
p,li,a,span{
  font-family: square_regular;
}
button{
  font-family: square;
}
.fl{ float: left;}
.fr{ float: right;}

h2.title{
  font-size: 42px;
  text-align: center;
  letter-spacing: -2px;
}
::selection{
  content: '';
  background-color: #B2D2C3;
}

